{% extends "base_one.html" %}

{% block head %} <!-- Customizing the head section -->
<title>Reset Password Done | ParkSketch</title> <!-- Setting the title of the page -->
{% endblock %}

{% block body %} <!-- Customizing the body section -->

<!-- Active tab title -->
<h2 class="active">Reset password done</h2>

<!-- Image for logo icon -->
<div class="fadeIn first">
    <img src="../static/images/logo.png" id="icon" alt=" ParkSketch logo" />
</div>

<!-- Info Message -->
<div class="fadeIn first">
    <!-- Information message for password reset -->
    <h2>
        An email with instructions to reset your password has been sent to you.
        Please check your email.
    </h2>
</div>
<!-- Redirect to login page -->
<form action="{{ url_for('login') }}">
    <input type="submit" class="fadeIn fourth" value="Go to login page" />
</form>

{% endblock %}