{% extends "base_one.html" %}

{% block head %} <!-- Customizing the head section -->
<title>Reset Password | ParkSketch</title> <!-- Setting the title of the page -->
{% endblock %}

{% block body %} <!-- Customizing the body section -->

<!-- Active tab title -->
<h2 class="active">Reset password</h2>
<a href="{{ url_for('login') }}">
    <!-- Inactive tab title -->
    <h2 class="inactive underlineHover">Sign in</h2>
</a>
<!-- Image for logo icon -->
<div class="fadeIn first">
    <img src="../static/images/logo.png" id="icon" alt="ParkSketch logo" />
</div>

<!-- Reset Password Form -->
<form action="" method="POST">
    <!-- Email input -->
    <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email" />
    <!-- Submit button for password reset -->
    <input type="submit" class="fadeIn fourth" value="Reset password" />
</form>
<!-- Check for any error message -->
{% if error %}
<div class="fadeIn first">
    <!-- Display error message if exists -->
    <p>{{ error }}</p>
</div>
{% endif %}

<!-- Redirect to Signup page -->
<div id="formFooter">
    <a class="underlineHover" href="{{ url_for('signup') }}">Don't have an account? Sign up</a>
</div>

{% endblock %}